<div>
  <form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <label for="">email</label>
    <input name="email" type="text">
    <label for="">password</label>
    <input name="password" type="password">
    <button>click to login</button>
    <p>If you already have an account, click on <a href="/signup">signup</a></p>
  </form>
</div>