
<h2>Login</h2>
<div class="loginform">
  <form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <label for="">Email</label>
    <input name="email" type="text">
    <label for="">Password</label>
    <input name="password" type="password">
    <button>Click To Login</button>
    <p>If you do not have an account, click on <a href="/signup">Sign Up</a></p>
  </form>
</div>
