<h1>Sign up</h1>
<form action="/signupdetails" method="post">
<input type="hidden"name="authenticity_token" value="<%= form_authenticity_token%>">
    <div>
        <label for="">Name: </label>
        <input name="username" type="text" placeholder="Your name..">
    </div>
     <div>
        <label for="">Surname: </label>
        <input name="surname" type="text" placeholder="Your surname..">
    </div>
    <div>
        <label for="">Github username: </label>
        <input type="text" name="github" id="" placeholder="Your github username..">
    </div>
    <div>
        <label for="">Email: </label>
        <input name="email" type="text" placeholder="Your email..">
    </div>
    <div>
        <label for="">Password: </label>
        <input name="password" type="password" placeholder="Your password..">
    </div>
    <button>Sign up</button>
    <h5>Do you have an account?</h5>
    <a href="/login">Login</a>
 </form>