<h1>About Us</h1>

<div class="about-us">
  <h5>Hello! We are a group of budding web developers keen to start our journey in web development. We thought it would be fun to create a community where we can create and share our web development journeys. We hope you find this as useful as we did and good luck embarking on this brave and wonderful journey!</h5>
</div>
<div class="photos">
  <%= image_tag "GA_Melbourne_21032018_0047.jpg"%>
  <%= image_tag "GA_Melbourne_21032018_0087.jpg"%>
  <%= image_tag "rsz_ga_melbourne_21032018_0027.jpg"%>
</div>
