<form action="/profile/<%= current_user.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <label for="">Summary of who you are</label>
  <textarea name="summary"></textarea>

  <label for="">My Goals</label>
  <textarea name="goals"></textarea>

  <label for="">Employment Status</label>
  <textarea name="status"></textarea>
  
  <button>update</button>
</form>