<section class="banner">
    <h1>My Dev Journey</h1>
</section>
  <div class="logoutform">

      <form class="" action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
      </form>

  </div>

  <div class="bghome">
  <% @event && @event.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>
  
    <section class="eventform">
              <form action="/events/" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <table>
                    <tr>
                      <td><label for="">Date</label></td>
                      <td><input type="date" name="date"></td>
                    </tr>
                    <tr>
                      <td><label for="">Event Name</label></td>
                      <td><input placeholder="add event name" type="text" name="event_name"></td>
                    </tr>
                    <tr>
                      <td><label for="description">Description</label></td>
                      <td><textarea placeholder="add event description" rows="8" cols="80" name="description"></textarea></td>
                    </tr>
                    <tr>
                      <td><a><label for="icon">Icon</label></td>
                      <td><input name="icon_url"type="text"></td>
                    </tr>
                  </table>
                <button>Add Event</button>
              </form>
    </section>

  </div>
