<section class="container">
  <div class="banner">
    <h1>My Dev Journey Timeline</h1>
  </div>
  <form class="" action="index.html" method="post">
    <button>Logout</button>
  </form>
</section>

<section class="timeline">
  <ul>
    <li>
      <div class="level">
        <div class="event-left">
          <form class="" action="index.html" method="post">
            <input type="date" name="" value=""> <label for="">Date</label>
            <label for="event">Event<textarea name="name" rows="8" cols="80"></textarea></label>
            <button>Save</button>
          </form>


        </div>
        <div class="icon"><div class="add">+</div></div>
        <div class="event-right"></div>
      </div>
    </li>
    <li>
      <div class="level">
        <div class="event-left"></div>
        <div class="icon"><div class="add">+</div></div>
        <div class="event-right">
          <form class="" action="index.html" method="post">
            <input type="date" name="" value=""> <label for="">Date</label>
            <label for="event">Event<textarea name="name" rows="8" cols="80"></textarea></label>
            <button>Save</button>
          </form>
        </div>
      </div>
    </li>
    <li>
      <div class="level">
        <div class="event-left">
          <form class="" action="index.html" method="post">
            <input type="date" name="" value=""> <label for="">Date</label>
            <label for="event">Event<textarea name="name" rows="8" cols="80"></textarea></label>
            <button>Save</button>
          </form>
        </div>
        <div class="icon"><div class="add">+</div></div>
        <div class="event-right"></div>
      </div>
    </li>
    <li>
      <div class="level">
        <div class="event-left"></div>
        <div class="icon"><div class="add">+</div></div>
        <div class="event-right">
          <form class="" action="index.html" method="post">
            <input type="date" name="" value=""> <label for="">Date</label>
            <label for="event">Event<textarea name="name" rows="8" cols="80"></textarea></label>
            <button>Save</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</section>
