<section class="container">
  <div class="banner">
    <h1>My Dev Journey</h1>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div class="level">
        <div class="event-left"></div>
        <div class="icon"></div>
        <div class="event-right"></div>
      </div>
    </li>
    <li>
      <div class="level">
        <div class="event-left"></div>
        <div class="icon"></div>
        <div class="event-right"></div>
      </div>
    </li>
    <li>
      <div class="level">
        <div class="event-left"></div>
        <div class="icon"></div>
        <div class="event-right"></div>
      </div>
    </li>
    <li>
      <div class="level">
        <div class="event-left"></div>
        <div class="icon"></div>
        <div class="event-right"></div>
      </div>
    </li>
  </ul>
</section>




<a href="/profile">User Profile</a>
