<h1>My User Profile<h1>

<h2>No profile yet, add your profile!</h2>

<form action="/profile" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button>Add your details</button>
</form>