<h1>Create your profile</h1>

<form action="/pages/profile_show" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="">Summary of who you are</label>
  <textarea name="summary"></textarea>

  <label for="">My Goals</label>
   <textarea name="goals"></textarea>

  <label for="">Employment Status</label>
   <textarea name="status"></textarea>

  <button>Update my details</button>
</form>