<!--<h2><%#= current_user.username %>
<%#= current_user.surname %></h2>
<h4><%#= current_user.email %></h4>
<h4><%#= current_user.summary %></h4>
<h4><%#= current_user.goals %></h4>
<h4><%#= current_user.surname %></h4>
<h4><%#= current_user.github_username %></h4>
<h4><%#= current_user.employment_status %></h4>-->

