/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *::after, *::before {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }

 body {
   margin: 0 auto;
   width: 100%;
   background-color: #5dbff7;
   font-size: 1.2rem;
   font-family: "Droid Serif", serif;
   color: #0766b5;
 }

h1 {
   font-family: "Open Sans", sans-serif;
   font-weight: bold;
   text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

h3, h4, h5 {
  font-weight: bold;
  font-size: 1.25em;
  margin: 2px;
}

p, a {
  font-weight: lighter;
  color: black;
  font-size: 1em;
  text-decoration: none;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto;
  width: 100%
}

a:hover {
  font-weight: bolder;
}

label {
  color: black;
}

input {
  text-align: center;
  color: #6e6e72;
  height: 1.5em;
  margin-bottom: 15px;
  font-size: 1em;
  border: 1px solid #cacdce;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(130, 136, 137, 0.75);
}

button {
  cursor: pointer;
  background-color: white;
  color: #47474c;
  height: 1.5em;
  font-size: 1em;
  margin-top: 15px;
  border: 1px solid #c2ccd1;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(130, 136, 137, 0.75);
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: lightgrey;
}

.logoutform button {
  float: right;
  margin-right: 1%;
}

.eventform {
  height: 300px;
  width: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupform, .profile-enter, .profile-show, .profile-update, .event-edit{
  height: 400px;
  width: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile-show, .loginform {
  height: 400px;
  width: 46%;
  margin-left: 26%;
  margin-top: 2%;
  font-size: 1em;
  color: #2866af;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(130, 136, 137, 0.75), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 5px 0px rgba(130, 136, 137, 0.75), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

}

.about-us {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  color: #2866af;
  text-align: center;
  background-color: white;
  border-radius: 1em;
  display: flex;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(130, 136, 137, 0.75), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 5px 0px rgba(130, 136, 137, 0.75), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.col-2 {
  text-align: left;
}

.photos img {
  width: 18%;
  height: 18%;
  margin-top: 2%;
}

.photos {
  margin-left: 20%;
  width: 100%;
}

.para p {
  text-align: center;
}

@media only screen and (min-width: 1170px) {
  .cd-is-hidden {
    visibility: hidden;
  }
}

header {
  height: 100px;
  line-height: 100px;
  text-align: right;
  background: #001666;
  color: white;
  font-size: 1.2rem;
}

header a {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid white;
}

.timeline {
  overflow: hidden;
  margin: 1.5em auto;
}

.cd-timeline__container {
  position: relative;
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 1.5em 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 1.5em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 3em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -19px;
  margin-top: -21px;
}

.cd-timeline__img.cd-timeline__img--picture {
  background: #75ce66;
}


@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

.cd-timeline__content {
  overflow: hidden;
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
          box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline__content img {
  justify-content: flex-end;
}

.cd-timeline__content:after {
  /* clearfix */
  overflow: hidden;
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  overflow: hidden;
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline__content h2 {
  color: #303e49;
}

.cd-timeline__content p,
.cd-timeline__date {
  font-size: 1.3rem;
}

.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__date {
  display: inline-block;
}


.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content h2 {
    font-size: 2rem;
  }
  .cd-timeline__content p {
    font-size: 1.6rem;
  }
  .cd-timeline__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1.6rem;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }

