/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

 body {
   margin: 0 auto;
   width: 100%;
   background-color: #f46e74;

   background-position: center center, center top;
   background-repeat: repeat, no-repeat;
   font-family: 'Overpass Mono', monospace;
 }

 h1 {
   font-family: 'Monofett', cursive;
   font-size: 3em;
}

 header {
  text-align: right;
 }

h2 {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}

h3, h4, h5 {
  font-weight: normal;
  color: white;
  font-size: 1.25em;
}

p, a {
  font-weight: lighter;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

label {
  color: white;
}

input {
  text-align: center;
  color: #6e6e72;
  width: 38%;
  height: 1.25em;
  margin-bottom: 15px;
  font-size: 1.8em;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(8, 96, 140, 0.75);
}

button {
  cursor: pointer;
  background-color: white;
  color: #47474c;
  height: 1.5em;
  font-size: 1em;
  border: 1px solid #c2ccd1;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(8, 96, 140, 0.75);
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: lightgrey;
}

li {
  list-style-type: none;
}

.container {
   background-image: url('app/assets/images/keyboard2.jpeg');
   width: 100%;
   height: 100px;
 }

 .level {
   height: 250px;
   width: 90%;
   border: 1px solid black;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
 }

 .event-left {
   height: 220px;
   width: 40%;
   margin: auto 0;
   display: flex;
   justify-content: center;
   border: 1px solid black;
 }

 .event-right {
   height: 220px;
   width: 40%;
   margin: auto 0;
   display: flex;
   justify-content: center;
   border: 1px solid black;
 }

.icon {
  height: 60px;
  width: 60px;
  margin: auto 0;
  display: flex;
  border-radius: 40px;
  background-color: #47474c;
}

.add {
  margin: 0 auto;
  width: 60%;
  margin-top: -18px;
  font-size: 4em;
  color: #dee0e5;
}

/*
.open {
  font-weight: lighter;
  color: white;
  font-size: 1em;
  cursor: pointer;
}


/*
<span class="open" onclick="openNav();">&#9776;</span>
<span class="openStart" onclick="openNavStart();">&#9776;</span>

var off = function() {
    document.getElementById("overlay").style.height = "0%";
		clearClick();
}

// Menu Functions
var openNav = function() {
    document.getElementById("myNav").style.height = "100%";
}

var closeNav = function() {
    document.getElementById("myNav").style.height = "0%";
}

// Opening Function
var onStart = function() {
    document.getElementById("overlay-open").style.height = "0%";
}
